<header class="page-header">
  <h1>About</h1>
</header>

<h3>Welcome to the Jungle</h2>
<p>If you're looking for the trendiest and most wanted items in the world, this website is for you. Don't waste any more time and go shopping!</p>